.coletaButton{
    margin: 5px;
    padding: 10px;
    display: inline-block;
    width: 70px;
    text-align: center;
    border: 1px solid black;
}
.editar{
    background-color: #008000;
}
.apagar{
    background-color: #a80000;
}