*{
    background-color: #000000;
    background-color: #012340;
    background-color: #025939;
        background-color: #025939a4;
    background-color: #027333;
    background-color: #03A63C;
    background-color: #04D939;
    background-color: #cfffdb;
    background-color: #ffffff;    
}